# Ignore the virtual environment directory
venv/
# or if your virtual environment is named differently, such as 'env', you can use:
# env/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore sensitive data files (if applicable)
*.env
*.json

# Ignore system files
.DS_Store
Thumbs.db

# Ignore coverage reports
coverage.xml
*.coveragerc
*.tox
*.nox
*.coverage
*.hypothesis

# Ignore package distribution files
*.egg
*.egg-info
dist/
build/
.eggs/

# Ignore IDE/editor configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
# Ignore specific directories
bin/
lib/python3.12/site-packages/
share/jupyter/nbextensions/pydeck/
